<div class="col-md-12">
  <form [formGroup]="updateStudentForm">
    <div class="col-md-6">
      <card cardTitle="Basic Information">
        <div class="row form-group">
          <div class="col-md-5 col-md-offset-0.5">
            <label class="control-label">First Name</label>
            <input class="form-control" formControlName="firstName" type="text">
          </div>
          <div class="col-md-5 col-md-offset-1">
            <label class="control-label">Last Name</label>
            <input class="form-control" formControlName="lastName" type="text">
          </div>
        </div>
        <div class="row form-group">
            <div class="col-md-5 col-md-offset-0.5">
              <label class="control-label">Gender</label>
              <select class="form-control" formControlName="gender">
                <option value="" selected disabled>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <label class="control-label">Date of birth</label>
              <input type="date" class="form-control" formControlName="dateOfBirth">
            </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5 col-md-offset-0.5">
            <label class="control-label">Profile Picture</label>
            <input type="file" accept="image/*" formControlName="profilePicture">
          </div>
        </div>
        <br>
        Parent/ Guardian Information:
        <br><br>
        <div class="row form-group">
          <div class="col-md-5 col-md-offset-0.5">
            <label class="control-label">Father/ Guardian's Name</label>
            <input class="form-control" type="text" formControlName="fatherName">
          </div>
          <div class="col-md-5 col-md-offset-1">
            <label class="control-label">Mother's Name</label>
            <input class="form-control" type="text" formControlName="motherName">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5 col-md-offset-0.5">
            <label class="control-label">Parent/ Guardian's Email Address</label>
            <input class="form-control" type="text" formControlName="parentEmailAddress">
          </div>
          <div class="col-md-5 col-md-offset-1">
            <label class="control-label">Parent/ Guardian's Mobile Number</label>
            <input class="form-control" type="text" formControlName="parentMobileNumber">
          </div>
        </div>
      </card>
    </div>
    <div class="col-md-6">
      <card cardTitle="Enrollment Information">
        <div class="row form-group">
          <div class="col-md-5">
            <label class="control-label">Standard</label>
            <select class="form-control">
              <option selected disabled>Select Standard</option>
              <option *ngFor="let standard of standards" value="standard.StandardId">
                  {{standard.class}} {{standard.section}} {{standard.medium}}
              </option>
            </select>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <label class="control-label">Academic year</label>
            <input class="form-control" type="text">
          </div>
        </div>
      </card>
    </div>
    <div class="col-md-6">
      <card cardTitle="Subscription Information">
        <label class="control-label col-md-4">Id</label>
        <label class="control-label col-md-4">Status</label>
        <label class="control-label col-md-4">Valid Till</label>
        <div *ngFor="let subscription of subscriptions">
          <label class="control-label col-md-4">{{ subscription.SubscriptionId }}</label>
          <label class="control-label col-md-4">{{ subscription.Status }}</label>
          <label class="control-label col-md-4">{{ subscription.ExpiryDate }}</label>
        </div>
      </card>
    </div>
    <div class="col-md-6">
      <card cardTitle="Academic Information">
        <label class="control-label col-md-4">Standard</label>
        <label class="control-label col-md-4">Year</label>
        <label class="control-label col-md-4">Result</label>
        <div *ngFor="let academic of academics">
          <label class="control-label col-md-4">{{ academic.Standard }}</label>
          <label class="control-label col-md-4">{{ academic.AcademicYear }}</label>
          <label class="control-label col-md-4">{{ academic.Result }}</label>
        </div>
      </card>
    </div>
    <div class="row form-group col-md-12">
        <div class="col-md-4 col-md-offset-4">
           <button type="submit" class="btn btn-success btn-with-icon">
              <i class="fa fa-check fa-fw"></i> CREATE</button>
           <button type="button" (click)="onCancel()"
              class="btn btn-danger btn-with-icon pull-right">
              <i class="fa fa-times fa-fw"></i> CANCEL</button>
        </div>
     </div>
  </form>
</div>