<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- <div class="form-group">
        <button type="button" class="btn btn-primary pull-right" (click)="GoBack()"> Go Back </button>
    </div> -->
<!-- 
    <div class="btn-wrap division pull-right form-group">
        <button type="button" class="btn btn-danger btn-with-icon" (click)="GoBack()">
            <i class="fa fa-arrow-left fa-fw"></i> BACK </button>
    </div> -->

    <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="center-allign">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="text-danger pull-right">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                <div *ngIf="f.firstName.errors.minlength">First Name must be a valid text</div>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="text-danger pull-right">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                <div *ngIf="f.lastName.errors.minlength">Last Name must be a valid text</div>
            </div>
        </div>
        <div class="form-group">
            <label>Designation</label>
            <input type="text" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
            <div *ngIf="submitted && f.designation.errors" class="text-danger pull-right">
                <div *ngIf="f.designation.errors.required">Designation is required</div>
                <div *ngIf="f.designation.errors.minlength">Desingation must be a valid text</div>
            </div>
        </div>
        <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
            <div *ngIf="submitted && f.userName.errors" class="text-danger pull-right">
                <div *ngIf="f.userName.errors.required">Email is required</div>
                <div *ngIf="f.userName.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="text-danger pull-right">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
                <button [disabled]="loading" class="btn btn-success btn-with-icon pull-left">
                        <i class="fa fa-check fa-fw"></i> SUBMIT </button>
            <!-- <button [disabled]="loading" class="btn btn-primary"> CREATE USER </button> -->
            <button type="button" class="btn btn-danger btn-with-icon pull-right" (click)="GoBack()">
                    <i class="fa fa-times fa-fw"></i> CANCEL </button>
        </div>
    </form>
  </div>
</div>