<div class="col-md-7">
  <card cardTitle="Student Details">
  
    <form (ngSubmit)="onSubmit(studentForm)" #studentForm="ngForm">
      <br>
      <label class="control-label">Student Information:</label>
      <br><br>
    
      <div class="row form-group">
        <div class="col-md-5 col-md-offset-0.5">
          <label class="control-label">First Name</label>
          <span [hidden]="firstnameControl.valid || firstnameControl.pristine"
                class="alert text-danger">(First name is required)</span>
          <input type="text" required class="form-control"  name='firstName' 
                [(ngModel)]="student.FirstName" #firstnameControl="ngModel">
        </div>
         
        <div class="col-md-5 col-md-offset-1">
          <label class="control-label">Last Name</label>
          <span [hidden]="lastnameControl.valid || lastnameControl.pristine"
                class="alert text-danger">(Last name is required)</span>
          <input type="text" required class="form-control" name="lastName"
                [(ngModel)]="student.LastName"  #lastnameControl="ngModel">
        </div>
      </div>
    
      <div class="row form-group">
        <div class="col-md-5">
          <label class="control-label">Gender</label>
          <span [hidden]="genderControl.untouched || student.Gender !== '-1'"
                class="alert text-danger">(Select gender)</span>
          <select class="form-control" name="gender"
                [(ngModel)]="student.Gender" #genderControl="ngModel">
            <option value="-1" >Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
    
        <div class="col-md-5 col-md-offset-1">
            <label>Date of birth</label>
            <input type="date" required class="form-control" id="dateofbirth" name="dob"
                 [(ngModel)]="student.DateOfBirth">
        </div>
      </div>
    
      <br>
      <label class="control-label">Parent/ Guardian Information:</label>
      <br><br>
    
      <div class="row form-group">
        <div class="col-md-5">
          <label class="control-label">Father/ Guardian Name</label>
          <input type="text" class="form-control" name="fatherName"
                 [(ngModel)]="student.FatherName">
        </div>
        
        <div class="col-md-5 col-md-offset-1">
          <label class="control-label">Mother/ Guardian Name</label>
          <input type="text" class="form-control" name="motherName"
                 [(ngModel)]="student.MotherName">
        </div>
      </div>
    
      <div class="row form-group">
        <div class="col-md-5">
          <label class="control-label">Parent Email Address</label>
          <input type="text" class="form-control" name="parentEmail"
                 [(ngModel)]="student.ParentEmailAddress">
        </div>
        
        <div class="col-md-5 col-md-offset-1">
          <label class="control-label">Parent Mobile Number</label>
          <span [hidden]="contactControl.valid || contactControl.untouched"
                class="alert text-danger">(Provide mobile number)</span>
          <input type="text" required class="form-control" name="parentMobile"
                 [(ngModel)]="student.ParentMobileNumber" #contactControl="ngModel">
        </div>
      </div>
    
      <br>
      <label class="control-label">Enrollment Information:</label>
      <br><br>
    
      <div class="form-group col-md-11">
        <label class="control-label">Standard</label>
        <select class="form-control" name="standard"
                 [(ngModel)]="student.Standard">
          <option value="-1">Select Standard</option>
          <option  *ngFor="let standard of standards" value="Standard.StandardId">
            {{standard.class}} {{standard.section}} {{standard.medium}}
          </option>
        </select>
      </div>
    
      <div class="form-group col-md-12">
        <label class="control-label">Profile Picture</label>
        <input id="profilePhoto" type="file" accept="image/*" name="profilePicture"
                 [(ngModel)]="student.ProfilePicture">
      </div>

      <div class="form-group">
        <button type="submit" [disabled] = "!studentForm.form.valid" 
          class="btn btn-success btn-with-icon">
          <i class="fa fa-check fa-fw"></i> CREATE</button>
      
        <button type="button" (click)="onCancel()"
          class="btn btn-danger btn-with-icon pull-right">
          <i class="fa fa-times fa-fw"></i> CANCEL</button>
      </div>

    </form>

  </card>

</div>