<div class="row">
    <div class="col-md-12">
      <card cardTitle="LIST OF USERS">
        <div class="btn-wrap division pull-right form-group">
            <button type="button" class="btn btn-success btn-with-icon" (click)="createUser()">
                <i class="fa fa-plus-square fa-fw"></i> </button>

            <button type="button" class="btn btn-info btn-with-icon" (click)="loadData()">
              <i class="fa fa-refresh fa-fw"></i> </button>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>EMPLOYEE ID</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>DESIGNATION</th>
              <th>USER NAME</th>
              <th>ACTION </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeeList | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
              <td>{{item.employeeId }}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.designation}}</td>
              <td>{{item.userName}}</td>
              <td>
                <button class="btn btn-icon btn-success" (click)="viewUser(item.employeeId)"><i class="fa fa-eye fa-fw"></i></button>
                <button class="btn btn-icon btn-warning" (click)="editUser(item.employeeId)"><i class="fa fa-pencil fa-fw"></i></button>
                <button class="btn btn-icon btn-danger" (click)="deleteUser(item.employeeId)" ><i class="fa fa-trash fa-fw"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <form class="pagination-wrapper">
          <div class="form-group pages">
            <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
              autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div class="form-group options pages">
            <div class="input-group input-group-sm">
              <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <span class="input-group-addon addon-right">Per Page</span>
            </div>
          </div>
        </form>
      </card>
    </div>
  </div>