<div class="row">
  <div class="col-md-12">
    <card cardTitle="Standards">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>STANDARD ID</th>
            <th>CLASS</th>
            <th>SECTION</th>
            <th>MEDIUM</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of standardList | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.standardId}}</td>
            <td>{{item.class}}</td>
            <td>{{item.section}}</td>
            <td>{{item.medium}}</td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
            autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>