<div class="col-md-6 col-md-offset-3">
  <card cardTitle="Standard Detail">
    
    <form (ngSubmit)="onSubmit()" #standardForm="ngForm">
      
      <div class="form-group" hidden="true">
        <label class="control-label">Standard</label>
        <input type="text" name="standardId" class="form-control"
              [ngModel]="standardModel.standardId">
      </div>
      
      <div class="form-group">
        <label class="control-label">Class</label>
        <input type="text" name="class" class="form-control" required
              [(ngModel)]="standardModel.class">
      </div>
      
      <div class="form-group">
        <label class="control-label">Section</label>
        <input type="text" name="section" class="form-control" required
              [(ngModel)]="standardModel.section">
      </div>
      
      <div class="form-group">
        <label class="control-label">Medium</label>
        <input type="text" name="medium" class="form-control" required
              [(ngModel)]="standardModel.medium">
      </div>

      <br>
      
      <div class="col-md-12">
        <card cardTitle="Subjects">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-md-1">Sl No.</th>
                <th class="col-md-11">Subject Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of subjectList; let index = index">
                <td>{{index}}</td>
                <td>{{item.title}}</td>
              </tr>
            </tbody>
          </table>

          <label class="control-label">New Subject</label>
          <input type="text" name="newSubject" [(ngModel)]="newSubject" 
                 (ngModelChange)="enableAddSubject()" 
                 class="form-control">
          <br>
          <button type="button" [disabled]="!validSubject" (click)="onAddSubject()"
                  class="btn btn-primary">ADD</button>

        </card>
      </div>  

      <div class="form-group">
        <button type="submit" [disabled]="loading || !standardForm.form.valid" 
                class="btn btn-primary btn-with-icon">
                <i class="fa fa-check fa-fw"></i> UPDATE</button>

        <button type="button" (click) = "onCancel()" [disabled]="loading"
                class="btn btn-danger pull-right btn-with-icon">
                <i class="fa fa-times fa-fw"></i> CANCEL</button>
      </div>

    </form>
  </card>
</div>
